@use '../../App';

.sections {
  margin: 0;
  display: flex;
  flex-direction: column;
}

%section {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 5vh 5vw;
}

.section-horizontal-flow {
  @extend %section;
  flex-direction: row;
  justify-content: space-between;
}

.section-vertical-flow {
  @extend %section;
  flex-direction: column;
  justify-content: flex-start;
}

.five-margin {
  margin: 5vh 5vw;
}

.next-page-button {
  @extend .text-button;
  margin-top: 1rem;
}