@use '../../App';

.education {
  background-color: App.$green;
  padding: 2rem 1rem;
  border: none;

  & h1, h2, h3, p, span, %text {
    color: App.$light-gray;
  }

  & h1 {
    margin-block: 1rem;

    @media screen and (max-width: 500px) {
      font-size: App.$text-subtitle-m;
    }

    @media screen and (min-width: 501px) {
      font-size: App.$text-subtitle;
    }
  }

  & h2 {
    text-transform: uppercase;
    margin-block: 0.5rem;

    @media screen and (max-width: 500px) {
      font-size: App.$text-footer-m;
    }

    @media screen and (min-width: 501px) {
      font-size: App.$text-body;
    }
  }

  & div:last-child p:last-child {
    margin-bottom: 0;
  }

  & .text-body {
    margin-bottom: 1rem;
    line-height: 1.25em;
  }

  & hr {
    background-color: App.$light-gray;
  }

  & div {
    @media screen and (min-width: 501px) {
      margin-block: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}