@use '../../App';

.linked-in-logo {
  width: 3rem;
  margin-bottom: 1rem;
  transition: transform 1s;

  &:hover {
    transform: scale(1.2);
  }
}

.linked-in-cta {
  text-align: center;
  margin-block: 1rem;
}