$blue: #00B2FE;
$shaded-blue: #009de0;
$orange: #FE5000;
$dark-gray: #7B7B7B;
$mid-gray: #B6B6B6;
$light-gray: #EDEDED;
$green: #2d8000;
$dark-green: #236300;
$error-red: #db0000;
$button-radius: 30px;
$border-radius: 20px;

// Desktop Text Sizes
$text-buttons: 16px;
$text-super: 48px;
$text-super-sub: 42px;
$text-title: 30px;
$text-subtitle: 24px;
$text-body: 16px;
$text-footer: 12px;

// Mobile Text Sizes
$text-buttons-m: 16px;
$text-super-m: 32px;
$text-super-sub-m: 30px;
$text-title-m: 24px;
$text-subtitle-m: 22px;
$text-body-m: 16px;
$text-footer-m: 12px;

:root {
  font-size: 16px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
}

.about {

  & > .text-super {
    margin-top: $text-super-sub;
    margin-bottom: 1rem;
  }

  & > .text-super-sub {
    margin-bottom: $text-super-sub;
  }

  & > .text-title {
    margin-bottom: 1rem;
  }

  & > .text-body {
    width: 50vw;
    margin-bottom: 1rem;
    line-height: 1.5em;
  }
}

.header-button {
  @extend .text-button;
  padding: 0.5rem 1rem;
  border-width: 0;
  background-color: $green;
  border-radius: $button-radius;
  outline: none;
  cursor: pointer;
}

.header-hover {
  @extend .header-button;
  background-color: $dark-green;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

// This holds things within a template so that you can have multiple things follow each other
%container {
  display: flex; //or inline-flex?
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; // or center, or space-between
  align-items: stretch;
  margin: 1rem 0 0 0;
}

.container {
  @extend %container;
  margin: 5vh 5vw;
  justify-content: space-between;
}

%container-list {
  @extend %container;
  margin: 0 auto;
  flex-direction: column;
}

.container-list {
  @extend %container-list;

  &-small {
    @extend %container-list;
    width: 32.3%;
  }

  &-medium {
    @extend %container-list;
    width: 64.6%;
  }

  &-large {
    @extend %container-list;
    width: 96.9%;
  }

  &-title {
    margin: 0 0 0 1rem;
  }

  &-title-bar {
    margin: 0;
    background-color: $blue;
    border-radius: $button-radius;
    height: 0.5rem;
  }

}

%container-row {
  @extend %container;
  height: 85vh;
  justify-content: space-evenly;
  align-items: center;
}

.container-row {

  // This is for the container row where the left side is a third of the screen
  &-third {
    @extend %container-row;

    & > .container-row-left {
      flex: 1;
    }

    & > .container-row-right {
      flex: 2;
    }

  }

  // This is for the container row where the left side is two thirds of the screen
  &-two-thirds {
    @extend %container-row;

    & > .container-row-left {
      flex: 2;
    }

    & > .container-row-right {
      flex: 1;
    }

  }

}

.details-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 0; // This lets text overflow work

  & > %text {
    margin: 0;
  }

  & > .text-details:first-of-type {
    margin-top: auto;
  }

}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  & > button {
    margin: 0 1rem;
  }

  & > .text-header {
    background-color: white;
    border-radius: $button-radius;
    border-width: 0;
    outline: none;
    cursor: pointer;
  }

  & > nav {
    @extend .header;
    margin: 0;
    // Test
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
  }

  & > .burger {
    @extend .text-header;
    font-size: $text-title !important;
    color: $green !important;
    // Test
    grid-area: burger;
    justify-self: end;
    transition: 0.1s;
  }

  & > .Nav {

  }

}

@media screen and (min-width: 601px) {

  .header {

    & > button {
      transition: transform 1s;
    }

    & > button:hover {
      transform: scale(1.2);
    }

    & > .burger:active {
      transform: scale(1.2);
    }

  }

  .fading {
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    opacity: 1;
  }

  .hidden {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    opacity: 0;
  }

  .hover {
    transition: transform 1s;
  }

  .hover:hover {
    transform: scale(1.1) translateX(1rem);
  }
}

%text {
  font-weight: bold;
  text-align: left;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  &-super {
    @extend %text;
    font-size: $text-super;
    color: $green;
  }

  &-super-sub {
    @extend %text;
    font-size: $text-super-sub;
    color: $dark-green;
    margin-top: 0;
  }

  &-title {
    @extend %text;
    font-size: $text-title;
    color: black;
  }

  &-container-title {
    @extend %text;
    font-size: $text-title;
    color: black;
    font-weight: 900;
    margin: 0;
  }

  &-subtitle {
    @extend %text;
    font-size: $text-subtitle;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
  }

  &-body {
    @extend %text;
    font-size: $text-body;
    color: black;
  }

  &-error {
    @extend %text;
    font-size: $text-body;
    text-align: center;
    color: $error-red;
  }

  &-button {
    @extend %text;
    padding: 0.5rem 1rem;
    border-width: 0;
    border-radius: $button-radius;
    outline: none;
    cursor: pointer;

    text-align: center;
    font-size: $text-buttons;
    color: white;
    background-color: $green;

    transition: all 200ms ease-in;

    &:hover {
      background-color: $dark-green;
    }
  }

  &-header {
    @extend %text;
    font-size: $text-buttons;
    color: black;
  }
}

@media screen and (max-width: 600px) {

  .about {

    & > %text {
      text-align: center;
    }

    & > .text-super {
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    & > .text-super-sub {
      margin-bottom: $text-title;
    }

    & > .text-body {
      width: unset;
    }

  }

  .container {
    margin: 0 5vw 5vh 5vw;
  }

  .header {
    display: grid;
    grid-template-areas: "logo burger" "nav nav";
    justify-content: normal;

    & > button.text-header {
      background-color: $green;
      color: white;
      font-size: $text-body-m;
    }

    .Nav {
      display: grid;
      grid-area: nav;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: none;
      grid-row-gap: 1rem;

      visibility: hidden;
      opacity: 0;
      height: 0;
      padding: 0;
      -webkit-transition: opacity 600ms ease, visibility ease 600ms;
      -moz-transition: opacity 600ms ease, visibility ease 600ms;
      -o-transition: opacity 600ms ease, visibility ease 600ms;
      transition: opacity 600ms ease, visibility ease 600ms;

      background: $green;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .show {
      visibility: visible;
      opacity: 1;
      height: auto;
      padding: 1rem 0;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }

    & > button.burger {
      display: inline;
      grid-area: burger;
      background-color: white;
    }

  }

  .profile-picture {
    margin: 1rem 0;
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    max-height: 90vw;
  }

  .text {

    &-super {
      font-size: $text-super-m;
    }

    &-super-sub {
      font-size: $text-super-sub-m;
    }

    &-title {
      font-size: $text-title-m;
    }

    &-container-title {
      font-size: $text-title-m;
    }

    &-subtitle {
      font-size: $text-subtitle-m;
    }

    &-body {
      font-size: $text-body-m;
    }

    &-error {
      font-size: $text-body-m;
    }

    &-button {
      font-size: $text-buttons-m;
    }

    &-header {
      font-size: $text-buttons-m;
    }
  }

  body .work-experience {
    padding: 0 5vw 5vh 5vw;
  }

}

.work-experience {
  padding: 5vh 5vw;
  width: 90vw;
  min-width: 250px;
  border: none;

  & > .text-super {
    margin-top: $text-super-sub;
    margin-bottom: 1rem;
  }

  & > .text-super-sub {
    margin-bottom: $text-super-sub;
  }

  & > .text-title {
    margin-bottom: 1rem;
  }

  & > .text-body {
    margin-bottom: 1rem;
    line-height: 1.5em;
  }
}

.project-experience {
  @extend .work-experience;

  & > %text {
    color: $light-gray;
  }

  & > div .text-super {
    margin-top: $text-super-sub;
    margin-bottom: 1rem;
    color: white;
  }

  & > div .text-super-sub {
    margin-bottom: $text-super-sub;
    margin-block-end: 1rem;
    color: $light-gray;
  }

  & > div .text-super-sub:last-of-type {
    margin-bottom: $text-title;
  }

  & > .text-title {
    margin-bottom: 1rem;
  }

  & > .text-body {
    margin-bottom: 1rem;
    line-height: 1.5em;
  }
}
