$blue: #00B2FE;
$shaded-blue: #009de0;
$orange: #FE5000;
$dark-gray: #7B7B7B;
$mid-gray: #B6B6B6;
$light-gray: #EDEDED;
$green: #2d8000;
$dark-green: #236300;
$error-red: #db0000;
$button-radius: 30px;
$border-radius: 20px;

// Desktop Text Sizes
$text-buttons: 16px;
$text-super: 48px;
$text-super-sub: 42px;
$text-title: 30px;
$text-subtitle: 24px;
$text-body: 16px;
$text-footer: 12px;

// Mobile Text Sizes
$text-buttons-m: 16px;
$text-super-m: 32px;
$text-super-sub-m: 30px;
$text-title-m: 24px;
$text-subtitle-m: 22px;
$text-body-m: 16px;
$text-footer-m: 12px;

:root {
  font-size: 16px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
}

// Organizational Component CSS
.sections {
  margin: 0;
  display: flex;
  flex-direction: column;
}

%section {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 5vh 5vw;
}

.section-horizontal-flow {
  @extend %section;
  flex-direction: row;
  justify-content: space-between;
}

.section-vertical-flow {
  @extend %section;
  flex-direction: column;
  justify-content: flex-start;
}

.five-margin {
  margin: 5vh 5vw;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Text CSS
%text {
  font-weight: bold;
  text-align: left;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  &-super {
    @extend %text;
    font-size: $text-super;
    color: $green;
  }

  &-super-sub {
    @extend %text;
    font-size: $text-super-sub;
    color: $dark-green;
    margin-top: 0;
  }

  &-title {
    @extend %text;
    font-size: $text-title;
    color: black;
  }

  &-container-title {
    @extend %text;
    font-size: $text-title;
    color: black;
    font-weight: 900;
    margin: 0;
  }

  &-subtitle {
    @extend %text;
    font-size: $text-subtitle;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
  }

  &-body {
    @extend %text;
    font-size: $text-body;
    color: black;
  }

  &-error {
    @extend %text;
    font-size: $text-body;
    text-align: center;
    color: $error-red;
  }

  &-button {
    @extend %text;
    padding: 0.5rem 1rem;
    border-width: 0;
    border-radius: $button-radius;
    outline: none;
    cursor: pointer;

    text-align: center;
    font-size: $text-buttons;
    color: white;
    background-color: $green;

    transition: all 200ms ease-in;

    &:hover {
      background-color: $dark-green;
    }
  }

  &-header {
    @extend %text;
    font-size: $text-buttons;
    color: black;
  }
}

@media screen and (max-width: 600px) {
  .text {
    &-super {
      font-size: $text-super-m;
    }

    &-super-sub {
      font-size: $text-super-sub-m;
    }

    &-title {
      font-size: $text-title-m;
    }

    &-subtitle {
      font-size: $text-subtitle-m;
    }

    &-body {
      font-size: $text-body-m;
    }

    &-error {
      font-size: $text-body-m;
    }

    &-button {
      font-size: $text-buttons-m;
    }

    &-header {
      font-size: $text-buttons-m;
    }
  }
}

// Common Stylistic
.green-background {
  background-color: $green;
}

.information {
  border: none;

  & h1 {
    margin-block: 1rem;

    @media screen and (max-width: 600px) {
      font-size: $text-subtitle-m;
    }

    @media screen and (min-width: 601px) {
      font-size: $text-subtitle;
    }
  }

  & h2 {
    text-transform: uppercase;
    margin-block: 0.5rem;

    @media screen and (max-width: 600px) {
      font-size: $text-footer-m;
    }

    @media screen and (min-width: 601px) {
      font-size: $text-body;
    }
  }

  & div:last-child p:last-child {
    margin-bottom: 0;
  }

  & .text-body {
    margin-bottom: 1rem;
    line-height: 1.25em;
  }

  & div {
    @media screen and (min-width: 601px) {
      margin-block: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.contrasting-colors {
  & h1, h2, h3, p, span, %text {
    color: $light-gray;
  }

  & hr {
    background-color: $light-gray;
  }
}